<h1> This is a New Job page! </h1>

<%= form_for(@job) do |f| %>
    <%= f.label :job_address_street %>
    <%= f.text_field :job_address_street %><br>

    <%= f.label :job_address_land %>
    <%= f.text_field :job_address_land %><br>

    <%= f.label :services %>
    <%= f.text_field :services %><br>

    <%= f.label :service_date %>
    <%= f.text_field :service_date %><br>

    <%= f.label "employee_id" %>
    <%= f.hidden_field :employee_id, value: 1 %><br>

    <%= f.label "user_id" %>
    <%= f.hidden_field :user_id, value: 1 %> <br>


    <%= f.submit "Create Job Request" %>
    <% end %>